/* .pageHeading {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    color: #182C62;
} */

/* .MuiTable-root {
    font-size: xx-large;
    border-color: red;
} */

/* .MuiTableRow-head {
    background-color: #E4EDF2;
    color: #4B5C68;
}

.MuiTableRow-root{
    border: 10px;
    border-color: red;
}

.MuiTableRow-root:nth-of-type(even){
    background-color: #F6F7F7;
} */

.flag {
   width: 53px;
   height: 37px; 
}

.homeTeamCell{
    
    display: flex;
    /* position: relative; */
    /* flex-direction: row; */
    align-content: flex-end;
    /* background-color: #182C62; */
}